@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Luckiest Guy', sans-serif;
    background: linear-gradient(to right, #7b4397, #dc2430);
}

a {
    text-decoration: none;
}

/* Title */

.title {
    min-height: 10rem;
    max-width: 60rem;
    border: #444 solid 2px;

    align-items: center;
    justify-content: center;
    color: white;
    margin: 1rem auto;
    padding: 0 1rem;
    text-align: center;
}

.title h1 {
    font-size: 4rem;
    letter-spacing: .2rem;
}
.title h2 {
    font-size: 1.5rem;
    letter-spacing: .08em;
    margin-bottom: 10px;
}
.title h3 {
    font-size: 1rem;
    letter-spacing: .05em;
    color: rgba(210, 210, 210, 0.553);
}

/* end of Title */

/* ---------------------------- */

/* Playboard */

.board {
    min-height: 10rem;
    max-width: 60rem;
    border: #444 solid 2px;

    align-items: center;
    justify-content: center;
    color: white;
    margin: 1rem auto;
    text-align: center;

    display: flex;
}

.playboard{
    width: 100%;

    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.player {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #7a1aa7;
}
.player #name {
    font-size: 3rem;
}
.player #score {
    font-size: 10rem;
}
.player .current-label {
    font-size: 1.5rem;
}
.player .current {
    background-color: #dc2430;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    padding: 2rem 1.2rem;
}
.player .current-score {
    font-size: 4rem;
    text-align: center;
}
.player-active {
    min-height: 40rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
}
.player-winner {
    min-height: 500px;
    background-color: rgb(78, 198, 148);
    border-radius: 9px;
}
.player-winner #name, .player-winner #score {
    color: #ffffff;
}
.player-winner .current {
    background-color: #7a1aa7;
}

/* end of Playboard */

/* ----------------------------------- */

/* Button */

.btn {
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    font-family: 'Luckiest Guy', sans-serif;
    color: #444;
    cursor: pointer;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}
.btn-roll {
    margin-top: 10rem;
}
.btn-hold {
    margin-top: 20rem;
}
.btn-new {
    margin-top: 30rem;
}
.btn:active {
    transform: translate(0%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
    outline: none;
}
.dice {
    width: 9rem;
    position: absolute;
    padding-bottom: 10rem;
}
.crd {
    margin-top: 20px;
    display: grid;
    place-items: center;
    color: rgb(35, 35, 35);
}

/* end of Button */

.hidden {
    display: none;
}

/* Media Query */