@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Luckiest Guy', sans-serif;
    background-color: #000504;
}

a {
    text-decoration: none;
}

/* Title */

.title {
    min-height: 10rem;
    max-width: 60rem;

    align-items: center;
    justify-content: center;
    color: white;
    margin: 2rem auto;
    margin-top: 3rem;
    padding: 0 1rem;
    text-align: center;
}

.title h1 {
    font-size: 4rem;
    letter-spacing: .2rem;
}
.title h2 {
    font-size: 1.5rem;
    letter-spacing: .08em;
    margin-bottom: 10px;
}
.title h3 {
    color: #eb572b;
    font-size: 1rem;
    letter-spacing: .05em;

}

/* end of Title */

/* ---------------------------- */

/* Playboard */

.board {
    min-height: 10rem;
    max-width: 60rem;

    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;

    display: flex;
}

.playboard{
    width: 100%;

    background-color:#32950b;
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.player {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000504;
}
.player #name {
    font-size: 3rem;
}
.player #score {
    margin: 1rem 0;
    font-size: 10rem;
}
.player .current-label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.player .current {
    background-color:#eb572b;
    opacity: 1;
    border-radius: 9px;
    color: #fff;
    padding: 2rem 1.2rem;
}
.player .current-score {
    font-size: 4rem;
    text-align: center;
}
.player-active {
    min-height: 35rem;
    background-color: #2ae473;
    border-radius: 9px;
}
.player-winner {
    min-height: 35rem;
    background-color: #eb572b;
    border-radius: 9px;
}
.player-winner #name, .player-winner #score {
    color: #ffffff;
}
.player-winner .current {
    background-color: none;
}

/* end of Playboard */

/* ----------------------------------- */

/* Button */

.button {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
.btn {
    background: none;
    border: none;
    font-family: 'Luckiest Guy', sans-serif;
    color: 000504;
    cursor: pointer;
    background-color: #2ae473;
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}
.btn:active {
    transform: translate(0%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
    outline: none;
}
.btn:hover {
    background-color: #40bb10;
}
.system {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.btn-roll {
    margin-right: 10rem;
    width: 16rem;
}
.btn-hold {
    flex: 50%;
}
.dice {
    max-width: 6rem;
    position: absolute;
    padding-bottom: 8rem;
}
.crd {
    display: grid;
    place-items: center;
    color: gainsboro;
    opacity: .5;
}

/* end of Button */

.hidden {
    display: none;
}

/* Media Query */